<div id="login-form">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="login">
  <%= form_tag sessions_path do %>
    <p><%= label_tag :email %>:<br>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <%= text_field_tag :email %><br></p>
    <p><%= label_tag :password %>:<br>
    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
    <%= password_field_tag :password %><p>
    <div id='login-register'>
    <p><%= submit_tag "Login", class:'btn-default' %></p>
  <% end %>
    <%= link_to 'Register', new_user_path %>
    </div>
  </div>
</div>
