
<div class="sport-title">
  <h2><%= "#{@sport["category"]} #{@sport["name"]}" %></h2>
</div>

<div id='sport-description-container'>
  <h3>Description</h3>
  <%= @sport["description"] %>
</div>

<div class='sport-video-container'>
  <iframe width="420" height="315" src=<% "#{@sport["video_url"]}" %>>
</iframe>
</div>

<!-- Stat PUT route. Change to active for particular sport -->
<div class="find-match-container">
  <% if @stat["active"] == "false" %>
    <%= link_to("Find a match", user_stat_path(current_user["id"], @stat["id"], active: "true"), method: :put, id: "find-match-link") %>
  <% else %>
    <%= link_to("Cancel Search", user_stat_path(current_user["id"], @stat["id"], active: "false"), method: :put, id: "cancel-search-link") %>
  <% end %>
</div>

<div class="create-team-container">
  <%= link_to("Create team", user_teams_path(current_user["id"], sport_id: @sport["id"]), method: :post) %>
</div>
