<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>

<h1> Current Matches In Your Area: </h1>

<div class="container-fluid">
  <div id="tabs">
    <ul>
      <% @sports.each_with_index do |sport,index| %>
        <li><a href="#fragment-<%= index %>"><%= sport['name'] %></a></li>
      <% end %>
    </ul>

    <% @sports.each_with_index do |sport,index| %> 
      <div id="fragment-<%= index %>">
        <p><%= sport %></p>
      </div>
    <% end %>
  </div>
  <div class="login">
    <%= render :login %>
  </div>
</div>

<script>
  $( "#tabs" ).tabs({collapsible: true});
</script>
