<div id="matches-in-area-container">
  <h4> Current Matches In Your Area: </h4>
  <div id="tabs" class='debug'>
    <ul>
      <% @sports.each_with_index do |sport,index| %>
      <li><a href="#fragment-<%= index %>"><%= sport['category'] %> <%= sport['name'] %></a></li>
      <% end %>
    </ul>

    <% @sports.each_with_index do |sport,index| %>
      <div id="fragment-<%= index %>">
        <%= sport['name'] %><%= sport['category'] %>
      </div>
    <% end %>
    <%= render partial: 'index_map', locals: {locations: @tennis_singles} %>
  </div>
</div>
