<h2>Match Partial</h2>

<h3>This match is at <%= @match["location"] %> at <%= @match["date"] %></h3>

<div id='home-team-container'>
  <ul>
    <% @match["teams"]["home_team"].each do |teammate| %>
      <li><%= '#{teammate["first_name"]} ' +  '#{teammate["last_name"]}' %></li>
    <% end %>
  </ul>
</div>

<div id='away-team-container'>
  <ul>
    <% @match["teams"]["away_team"].each do |teammate| %>
      <li><%= '#{teammate["first_name"]} ' +  '#{teammate["last_name"]}' %></li>
    <% end %>
  </ul>
</div>

<%= link_to("My Profile", user_path(current_user)) %>
