<div id="match-show-page-container">
  <h2><%= "#{@sport["category"]} #{@sport["name"]}" %> Match</h2>
  <h3><%= @location %></h3>
  <h3><%= @day %></h3>
  <h3><%= @time %></h3>

  <div class="match-show-container">

        <div id="home-team-container" class="team-container">
            <h2>Home Team</h2>
            <%= render partial: 'matches/team', locals: { team: @home_team} %>
        </div>
        <div id="vs-container">
          <h3>VS</h3>
        </div>
        <div id="away-team-container" class="team-container">
            <h2>Away Team</h2>
            <%= render partial: 'matches/team', locals: { team: @away_team} %>
        </div>
    </div>
      <% if DateTime.strptime(@match["match"]["date"],"%Y-%m-%d %H:%M") < DateTime.now%>
        <% if @match["Home"]["score"] &&  @match["Away"]["score"] %>
        <div class="">
            Home :
            <%= @match["Home"]["score"]  %>
            Away :
            <%= @match["Away"]["score"]  %>
        </div>
        <% else %>
        <div class="score-container">
            <%= render partial: 'matches/score' , locals: { match: @match} %>
        </div>
        <% end %>
        <% else %>
        <h4>
          You may update the score after the match has finished.
        </h4>
      <% end %>

        <%= render 'matches/map' %>
        <div class="map-container">
            <%= render 'matches/map' %>
        </div>


</div>
