<div id="match-show-page-container">
  <h2>Match Show</h2>
  <div class="match-show-container">

      <div id="home-team-container">
      <h2 align="center">Home Team</h2>
        <%= render partial: 'matches/team', locals: { team: @home_team} %>
      </div>

      <div class="score-container">
        <%= render partial: 'matches/score' , locals: { match: @match} %>
      </div>

      <div id="away-team-container">
      <h2 align="center">Away Team</h2>
        <%= render partial: 'matches/team', locals: { team: @away_team} %>
      </div>

      <%= render 'matches/map' %>
        <div class="map-container">
          <%= render 'matches/map' %>
        </div>

    </div>
  </div>
